<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}blog/bootstrap/img/favicon.png">

    <title>Iker Ocio - Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}blog/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}blog/bootstrap/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}blog/bootstrap/css/blog.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}blog/bootstrap/css/cloud.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ STATIC_URL }}ikerocio/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <p class="lead blog-description">{{ blog.quote }}</p>
    </div>
    <ul class="nav nav-tabs">
        <li id="nav-blog-active" class="next active"><a class="transition-button" href="#">Blog</a></li>
        <li id="nav-tag-active" class="next" ><a class="transition-button" href="#">Etiquetas</a></li>
        <li id="nav-category-active" class="next"><a class="transition-button" href="#">Categorias</a></li>
    </ul>

    <div class="row">

        <div class="col-sd-8 blog-main blog-div" id="transition-content">
            {% block content %}

            {% endblock %}

        </div>
        <div class="tag-div" style="display:none">
            {% block tags %}
            {% endblock %}
        </div>
    <div class="category-div" style="display:none">
        {% block categories %}
        {% endblock %}
    </div>
        <!-- /.blog-main -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div class="blog-footer">
    <p>Blog template built with Django and <a href="http://getbootstrap.com">Bootstrap</a> by <a
            href="https://twitter.com/mdo">@iocio</a>.
    </p>

    <p>
        <a href="#">Back to top</a>
    </p>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-22865130-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}blog/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}blog/bootstrap/js/readmore.js"></script>
<script>
    $('div.blog-post').readmore({
        speed:2000,
        maxHeight:600
    });
</script>
<script>
    $(".next").click(function () {
        element = $(this);
        $('.next').removeClass('active');
            $('.blog-div').fadeOut('slow');
            $('.tag-div').fadeOut('slow');
            $('.category-div').fadeOut('slow');
        if(element.text()==='Blog'){
            $('.blog-div').fadeIn('slow');
            $('#nav-blog-active').addClass('active');
        }else if(element.text()==='Etiquetas'){
            $('.tag-div').fadeIn('slow');
            $('#nav-tag-active').addClass('active');
        }else if(element.text()==='Categorias'){
            $('.category-div').fadeIn('slow');
            $('#nav-category-active').addClass('active');
        }
    });
</script>

</body>
</html>
